.label-select{
  color: #fff!important;
  opacity: 1!important;
}

.field-error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  margin: 5px 0 5px 16px;
}

.button-margin {
  margin-top: 24px;
}

.span-forgot{
  color: #7BA9E6;
  margin-top: 20px;
  font-size: 15px;
}