<form (ngSubmit)="onSubmit()" [formGroup]="recoverForm" class="block-form-session block-form-session-list">
	<ion-header translucent>
		<ion-toolbar class="bg-header">
			<ion-button class="btn-back" (click)="backButton()">
				<ion-icon name="return-up-back-outline"></ion-icon>
			</ion-button>
		</ion-toolbar>
	</ion-header>
	<ion-content class="bg-content" fullscreen>
		<div class="content-login pt-35">
			<span class="ico-close">
				<svg xmlns="http://www.w3.org/2000/svg" width="45.499" height="51.999" viewBox="0 0 45.499 51.999">
					<path id="lock"
						d="M40.624,22.75H38.187V15.437a15.437,15.437,0,1,0-30.874,0V22.75H4.875A4.876,4.876,0,0,0,0,27.624v19.5A4.876,4.876,0,0,0,4.875,52H40.624A4.876,4.876,0,0,0,45.5,47.124v-19.5A4.876,4.876,0,0,0,40.624,22.75Zm-10.562,0H15.437V15.437a7.312,7.312,0,0,1,14.625,0Z"
						fill="#222" />
				</svg>
			</span>
			<h2 class="title-block-login">¿Olvidaste tu contraseña?</h2>
			<p>Escribe tu correo para ayudarte a recuperar tu contraseña</p>
			<ion-item class="custom-item-input mb-10">
				<ion-input class="input-custom" type="email" placeholder="Email" formControlName="email">
				</ion-input>
			</ion-item>
			<div class="error-message" *ngIf="f.email.hasError">
				<span *ngIf="f.email.value == '' && f.email.hasError('required')">{{ messages.FIELD_EMPTY }}</span>
                <span *ngIf="f.email.hasError('pattern')">{{ messages.FORMAT_EMAIL }}</span>
			</div>
		</div>
	</ion-content>
	<ion-footer class="ion-no-padding ion-no-margin bg-border-footer" style="position: absolute; bottom: 0;">
		<ion-button expand="block" type="submit" class="btn-solid-main large activated">
			Restablecer contraseña</ion-button>
	</ion-footer>
</form>
