<ion-header class="header-modal" translucent>
  <ion-toolbar>
    <ion-title>Completar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-modal" fullscreen>
	<div class="content-modal pt-35">
		<h4 class="text-modal-alert">¿Deseas completar la<br> mentoría?</h4>
		<div class="all-btn-modal">
	      	<button class="btn-solid-main outline" (click)="closeModel()">No completar</button>
	      	<button class="btn-solid-main small modal" (click)="!isLoad ? doAction() : null">Completar</button>
	    </div>
	</div>
</ion-content>
