<ion-header translucent>
  <ion-toolbar class="bg-header txt-center">
      <ion-button class="btn-back btn-left">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <p class="title-header">Confirmación</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-full-page">
    <div class="b-info-complete">
      <h1><span>¡FELICIDADES!</span> VAS A ASISTIR A “EVENTO PRESENCIAL DANNY”</h1>
      <span class="t-point"><ion-icon name="location"></ion-icon> Lima, Perú</span>
      <hr>
      <h2>INFORMACIÓN DE PEDIDO:</h2>
      <ul class="reset-ul item-ped">
        <li><strong>TÍTULO:</strong> CURSO AVANZADO</li>
        <li><strong>Precio:</strong> USD 150.00</li>
        <li><strong>Cantidad:</strong> 1</li>
        <li><strong>Sub Total:</strong> USD 150.00</li>
        <li><strong>Total:</strong> USD 150.00</li>
      </ul>
      <ul class="reset-ul item-list-ped">
        <li><ion-icon name="checkmark"></ion-icon> Pedido nº 200577</li>
        <li><ion-icon name="checkmark"></ion-icon> Tu información se ha enviado a <span>dannitest@gmail.com</span></li>
      </ul>
      <hr>
      <div class="card-complete">
        <h3><span>Hola Danny,</span><br> ¡Ya eres parte de este curso!</h3>
        <h4>Mensaje del organizador:</h4>
        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore.</p>
        <div class="item-card-c">
          <figure>
            <img src="../../../assets/c-course.jpg" alt="">
          </figure>
          <h5>Nombre del evento</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sipscing elit lorem Ipsum dolor.</p>
        </div>
      </div>
    </div>
    <div class="footer-btn-all">
      <ion-button expand="block"  class="btn-l-primary-f">Descargar ticket</ion-button>
      <ion-button expand="block"  class="btn-l-secondary-f">Volver a home</ion-button>
    </div>
  </div>
</ion-content>