<div class="block-count-trans">
  <ng-container *ngIf="resourceRoom?.media?.streamState === 'culminate'; else elseTemplateStreamCulminate">
      <ul class="reset-ul">
        <li>
          <div style="height: auto" class="span-message-transmitted">Sesión finalizada</div>
        </li>
      </ul>
      <div class="b-tecn-r">
        <ul class="reset-ul">
          <li>
            <app-tag [stream]="resourceRoom?.media?.stream" [isLive]="true"></app-tag>
          </li>
        </ul>
      </div>
  </ng-container>
  <ng-template #elseTemplateStreamCulminate>
    <ng-container *ngIf="countdownActive && !startLive; else elseTemplateCountActive">
      <h4>Inicia en</h4>
      <div id="custom-date" class="listTiempo custom-countdown" data-countdown="2021/06/20" (finish)="onfinish()"></div>
      <ion-button class="btn-transmition" (click)="openUrl(resourceRoom?.media?.url)"
        *ngIf="resourceRoom?.media?.url && minutes < 60">
        <p>Ir a transmisión</p> <ion-icon name="chevron-forward-circle-outline"></ion-icon>
      </ion-button>
      <div *ngIf="resourceRoom?.media?.uriRetransmission && minutes < 60">
        <a (click)="openUrl(resourceRoom?.media?.uriRetransmission)" class="btn-l-secondary-m">Retransmisión <ion-icon
            name="log-in-outline"></ion-icon></a>
      </div>
      <div class="b-tecn-r">
        <ul class="reset-ul">
          <li>
            <app-tag [stream]="resourceRoom?.media?.stream" [isLive]="true"></app-tag>
          </li>
        </ul>
      </div>
    </ng-container>
    <ng-template #elseTemplateCountActive>
      <ul class="reset-ul">
        <li>
          <!--
            <a (click)="openUrl(resourceRoom?.media?.url)" class="btn-l-primary-m"
              >Ir a transmisión <ion-icon name="arrow-forward-outline"></ion-icon
            ></a>
          -->
          <div *ngIf="seeTransmissionPast" style="height: auto" class="span-message-transmitted">Sesión transmitida</div>
        </li>
        <ion-button class="btn-transmition" (click)="openUrl(resourceRoom?.media?.url)">
          <p>Ir a transmisión</p> <ion-icon name="chevron-forward-circle-outline"></ion-icon>
        </ion-button>
        <li *ngIf="!seeTransmissionPast">
          <a (click)="openUrl(resourceRoom?.media?.uriRetransmission)" class="btn-l-secondary-m">Retransmisión <ion-icon
              name="log-in-outline"></ion-icon></a>
        </li>
      </ul>
      <div class="b-tecn-r">
        <ul class="reset-ul">
          <li>
            <app-tag [stream]="resourceRoom?.media?.stream" [isLive]="true"></app-tag>
          </li>
        </ul>
      </div>
    </ng-template>
  </ng-template>
</div>
