
$color-white : #ffffff;
$color-black : #080808;
$color-danger : #EA6464;
$color-warning : #f1d6a3;

$bg-main : #080808;
$bg-header : #080808;

$bg-btn-solid-main: #EA6464;
$txt-btn-solid-main: #ffffff;
$br-btn-outline-main: #EA6464;

$bg-btn-solid-secondary: #2F2F2F;
$txt-btn-solid-secondary: #B6B6B6;
$br-btn-outline-secondary: #2F2F2F;

$bg-btn-solid-success: #69b463;
$txt-btn-solid-success: #69b463;
$br-btn-outline-success: #69b463;

$bg-btn-solid-warning: #FEC964;
$txt-btn-solid-warning: #0B0B0B;
$br-btn-outline-warning: #FEC964;

$bg-btn-solid-info: #4a8cff;
$txt-btn-solid-info: #efefef;
$br-btn-outline-info: #4a8cff;

$bg-btn-outline-main: transparent;
$txt-btn-outline-main: #EA6464;
$br-btn-outline-main: #EA6464;

$bg-btn-outline-secondary: transparent;
$txt-btn-outline-secondary: #ffffff;
$br-btn-outline-secondary: #ffffff;

$txt-main: #ffffff;
$txt-regular: #ffffff;
$txt-secondary: #ffffff;
$txt-alternative: #ffffff;
$txt-button: #ffffff;

$font-xs: 12px;
$font-xs-5: 13px;
$font-sm: 14px;
$font-sm-5: 15px;
$font-base: 16px;
$font-lg: 18px;
$font-xl: 20px;
$font-2xl: 22px;