/*
* PADDINGS
*/
.pt-12 {
  padding-top: 12px;
}
.p-12 {
  padding: 12px;
}
.pt-25 {
  padding-top: 25px !important;
}
.pt-35 {
  padding-top: 35px !important;
}
.pt-75 {
  padding-top: 75px !important;
}
.pt-95 {
  padding-top: 95px !important;
}
.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-t-b-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.pb-12 {
  padding-bottom: 12px;
}
.pt-3 {
  padding-top: 3px !important;
}
.pt-12 {
  padding-top: 12px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-8 {
  padding-top: 8px;
}
/*
* MARGINS
*/
.mb-5 {
  margin-bottom: 5px !important;
}
.mb-10 {
  margin-bottom: 10px !important;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mt-30 {
  margin-top: 30px;
}
.mr-6 {
  margin-right: 6px;
}

.mr-12 {
  margin-right: 12px;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.mt-8 {
  margin-top: 8px;
}
/*
* FLOATS
*/
.left {
  float: left;
}
.right {
  float: right;
}
/*
* DISPLAY
*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flex-grow {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
/*
* WIDTH
*/
.w-full {
  width: 100%;
}
.w-100 {
  width: 100%;
}
.w-1 {
  width: 1px;
}
.w-2 {
  width: 2px;
}
.w-12 {
  width: 12px;
}

/*
* HEIGHT
*/
.h-full {
  height: 100%;
}
.min-w-12 {
  min-width: 12px;
}

.min-h-12 {
  min-height: 12px;
}
/*
* POSITION
*/
.relative {
  position: relative;
}
/*
* CURSOR
*/
.cursor-pointer {
  cursor: pointer;
}
/*Comment s*/
