<ion-header class="header-modal" translucent>
  <ion-toolbar>
    <ion-title>Cancelar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="bg-modal" fullscreen>
  <div class="content-modal pt-35">
    <h4 class="text-modal-alert">¿Deseas cancelar la<br> mentoría?</h4>
    <div class="all-btn-modal">
      <button class="btn-solid-main outlin" (click)="closeModel()">No cancelar</button>
      <button class="btn-solid-main small modal" (click)="!isLoad ? doAction() : null">Cancelar</button>
    </div>
  </div>
</ion-content>