.image-article{
	position: relative;
	margin-bottom: 12px;
	a{
		display: block;
		&:before{
			content: "";
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
		}
		img{
			width: 100%;
		}
		.video-event{
			position: absolute;
			top: 50%;
			left: 50%;
			text-align: center;
		    width: 65px;
		    height: 50px;
		    margin-top: -25px;
		    margin-left: -32px;
			ion-icon{
				font-size: 30px;
				color: #FFFFFF;
			}
			span{
				display: block;
				font-size: 12px;
				color: #FFFFFF;
			}
		}
	}
	img{
		width: 100%;
	}
}
.b-content-course{
	margin-bottom: 40px;
}
.content-article{
	padding: 0 20px 80px 20px;
	.b-title-article{
		margin-bottom: 20px;
		width: 100%;
		h1{
			font-size: 18px;
			color: #ECECEC;
			font-weight: 600;
			margin-bottom: 5px;
			margin-top: 6px;
		}
		.t-autor{
			display: block;
			color: #BDBDBD;
			font-size: 12px;
			margin-bottom: 5px;
		}
		.tag-vivo{
			border-radius: 2px;
			height: 17px;
			line-height: 17px;
			font-size: 10px;
			font-weight: 500;
			padding: 0 5px;
			color: #fff;
			background: #D66060;
			display: inline-block;
			vertical-align: top;
		}
		.tag-new{
			display: inline-block;
			vertical-align: top;
			border-radius: 2px;
			height: 17px;
			line-height: 17px;	
			font-size: 10px;
			font-weight: 500;
			padding: 0 5px;
			color: #2F2F2F;
			background: #FEDE22;
		}
		p{
			margin-top: 20px;
			line-height: 140%;
			color: #B6B6B6;
			font-size: 14px;
		}
	}
	hr{
		border-top: 1px solid #272727;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.b-list-article-t{
		ul{
			list-style: none;
			padding-left: 0;
			margin: 0;
			li{
				font-size: 14px;
				color: #B6B6B6;
				margin-bottom: 8px;
				padding-left: 20px;
				position: relative;
				&:last-child{
					margin-bottom: 0;
				}
				ion-icon{
					position: absolute;
					top: 2px;
					left: 0;
				}
				.ico-city{
					position: absolute;
					top: 2px;
					left: 0;
					width: 13px;
					height: 13px;
					img{
						width: 100%;
					}
				}
			}
		}
	}
	.b-list-course{
		width: 100%;
		ul{
			list-style: none;
			padding-left: 0;
			margin: 0;
			li{
				font-size: 14px;
				color: #B6B6B6;
				position: relative;
				padding-left: 22px;
				margin-bottom: 10px;
				&:last-child{
					margin-bottom: 0;
				}
				ion-icon{
					position: absolute;
					left: 0;
					top: 0;
				}
			}
		}
	}
}
h3{
	&.title-block-c{
		margin-top: 0;
		font-size: 18px;
		color: #ECECEC;
		font-weight: 500;
		margin-bottom: 18px;
	}
}
.b-content-course{
	margin-bottom: 40px;
}
/*Acoordion*/
.content-list-course{
	margin-left: -20px;
    margin-right: -20px;
}
.item-list-primary{
	position: relative;
	margin-bottom: 15px;
	.arrow-up{
		display: block;
	}
	.arrow-down{
		display: none;
	}
	&.activeItem{
		.arrow-up{
			display: none;
		}
		.arrow-down{
			display: block;
		}
	}
	.item-list-title{
		position: relative;
		background: #262626;
		padding: 0 20px;
		h3{
		    font-size: 14px;
		    color: #ECECEC;
		    font-weight: 500;
		    margin-bottom: 0;
		    padding: 11px 25px 11px 0px;
		    line-height: 130%;
		}
		.arrow-l{
			position: absolute;
		    right: 18px;
		    top: 50%;
		    color: #BABABA;
		    font-size: 20px;
		    margin-top: -10px;
		}
	}
}
.block-item-sub{
	&>ul{
		list-style: none;
		padding-left: 0;
		padding-bottom: 0;
		padding: 0 20px;
		&>li{
			margin-bottom: 18px;
			&:last-child{
				margin-bottom: 0;
			}
			div{
				width: 100%;
				position: relative;
				h3{
					font-size: 14px!important;
					color: #ECECEC!important;
					font-weight: 500;
					margin-bottom: 5px;
					margin-top: 0;
				}
				ul{
					list-style: none;
					padding-left: 0;
					margin: 0;
					overflow: hidden;
					li{
						font-size: 11px;
						color: #7E7E7E;
					}
				}
			}
		}
	}
}
.accordion__head{
    width: 100%;
    cursor: pointer;
}
.accordion__container {
    height: 0;
    overflow-y: hidden;
    transition: height 0.25s;
    will-change: height;
}
.accordion__body {
    padding: 0.5rem 0;
}

.btn-solid-main.regular{
	width: 135px;
}
.b-term p{
    font-size: 14px;
    color: #B6B6B6;
}