<ion-tabs>
  	<ion-tab-bar mode="ios" slot="bottom" class="block-tabs">
    	<ion-tab-button tab="home">
    		<ion-label class="label-color-t">Home</ion-label>
      		<ion-icon name="home-outline" class="icon-color-t"></ion-icon>
    	</ion-tab-button>
    	<ion-tab-button tab="search">
    		<ion-label class="label-color-t">Buscar</ion-label>
      		<ion-icon name="search-outline" class="icon-color-t"></ion-icon>
    	</ion-tab-button>
    	<ion-tab-button tab="shop">
    		<ion-label class="label-color-t">Mis compras</ion-label>
      		<ion-icon name="play-outline" class="icon-color-t"></ion-icon>
    	</ion-tab-button>
    	<ion-tab-button tab="promotion">
    		<ion-label class="label-color-t">Promociones</ion-label>
      		<ion-icon name="gift-outline" class="icon-color-t"></ion-icon>
    	</ion-tab-button>
    	<ion-tab-button tab="profile">
    		<ion-label class="label-color-t">Mi perfil</ion-label>
      		<ion-icon name="person-circle-outline" class="icon-color-t"></ion-icon>
    	</ion-tab-button>
  	</ion-tab-bar>
</ion-tabs>
