<ion-header translucent>
  <ion-toolbar class="bg-header txt-center">
      <ion-button class="btn-back btn-left">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
      <p class="title-header">Confirmación</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="block-full-page">
    <div class="b-info-complete">
      <h1><span>Hola Danny!</span><br> FELICIDADES por comprar la mentoría “MENTORIA MEET”. Tu orden 463871 ha sido procesado corréctamente</h1>
      <hr>
      <div class="b-ind-ped">
        <h2>INFORMACIÓN DE PEDIDO:</h2>
        <p>Confirma la hora de tu <a href="#">reserva aquí</a>, o puedes hacerlo luego ingresando a tu perfil de usuario.</p>
      </div>
      <div class="card-complete">
        <h3><span>Hola Danny,</span><br> ¡Ya eres parte de esta mentoría!</h3>
        <div class="item-card-c">
          <figure>
            <img src="../../../assets/c-course.jpg" alt="">
          </figure>
          <h5>Nombre del evento</h5>
          <p>Lorem ipsum dolor sit amet, consetetur sipscing elit lorem Ipsum dolor.</p>
        </div>
      </div>
    </div>
    <div class="footer-btn-all">
      <ion-button expand="block"  class="btn-l-primary-f">Reservar aquí</ion-button>
      <ion-button expand="block"  class="btn-l-secondary-f">Volver a home</ion-button>
    </div>
  </div>
</ion-content>